.MuiCardContent-root {
  height: 450px !important;
}
@media only screen and (max-width: 1700px) {
  .MuiCardContent-root {
    height: 490px !important;
    padding: 30px !important;
  }
  .makeStyles-pos-33 {
    font-size: 15px !important;
  }
  .makeStyles-img-32 {
    width: 45% !important;
  }
}
