@media only screen and (max-width: 1600px) {
  .makeStyles-root-7 {
    padding: 180px 0px 180px 0px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .makeStyles-border-20 {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
  }
  .makeStyles-root-15 {
    padding: 50px 0px 0px 0px !important;
  }
  .makeStyles-root-7 {
    padding: 45px 0px 45px 0px !important;
  }
  .makeStyles-root-6 {
    padding: 60px 0px 0px 0px !important ;
  }

  .makeStyles-root-20 {
    padding: 0px 0px 0px 0px !important ;
  }

  .makeStyles-border-17 {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
  }

  .makeStyles-root-18 {
    padding: 60px 0px 125px 0px;
  }

  .makeStyles-root-12 {
    padding: 50px 0px 5px 0px !important;
  }

  .makeStyles-root-24 {
    padding: 51px 0px 0px 0px !important;
  }

  .makeStyles-typography1-25 {
    padding-bottom: 42px !important;
  }

  .makeStyles-root-33 {
    margin-bottom: 28px !important;
  }

  .makeStyles-root-31 {
    padding: 96px 0px 97px 0px !important;
  }

  .makeStyles-paper-32 {
    margin-top: 10px !important;
  }
  .makeStyles-root-23 {
    padding: 0px 0px 0px 0px !important;
  }

  .makeStyles-img-33 {
    width: 40% !important;
    height: 47px !important;
  }
  .makeStyles-img-38 {
    width: 33% !important;
    height: 60px !important;
    padding: 10px !important;
  }
  .makeStyles-img-44 {
    width: 20% !important;
  }
}
