.App {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: #5c42ba;
}

li {
  color: #707070;
}
.makeStyles-links-6.Mui-selected {
  color: #5c42ba !important;
}
a.Mui-selected {
  color: #5c42ba !important;
}

