.App {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: #5c42ba;
}
a:active {
  color: red;
}
li {
  color: #707070;
}
.makeStyles-links-6 :active:any-link {
  color: red !important;
}
